.DS_Store
config.php
.env
install.lock
error_log
failed-login.log
php_errors.log
php-errors.log
test.php

# Editor temp files
*#
*~
*.orig

/.idea/
/vendor/*
/app/resources/tmp/*
/Blacklight/config/settings.php
/Blacklight/config/ircscraper_settings.php
/Blacklight/config/ircscraper.php
/Blacklight/config/opensssl.php

/libraries/*
/nbproject/
/nbproject/private/
/resources/covers/*
/resources/nzb/*
/resources/tmp/*
/resources/smarty/templates_c/*
/public/themes/shared/assets
