.DS_Store
config.php
docker/.zsh_history
docker/composer-auth.json
docker/php-overrides.local.ini
docker-compose.override.yml
.env
install.lock
error_log
failed-login.log
php_errors.log
php-errors.log
test.php

# Editor temp files
*#
*~
*.orig

/.idea/
/vendor/*
/storage/covers/*
/storage/nzb/*
/resources/tmp/*
!/resources/tmp/unrar/
!/resources/tmp/unzip/
!/resources/tmp/imdb_cache/
!/public/assets/*

# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

/.phpunit.cache