.DS_Store
config.php
docker/.zsh_history
docker/composer-auth.json
docker/php-overrides.local.ini
docker-compose.override.yml
.env
install.lock
error_log
failed-login.log
php_errors.log
php-errors.log
test.php

# Editor temp files
*#
*~
*.orig

/.idea/
/vendor/*
/resources/covers
/resources/nzb
/resources/tmp
!/resources/tmp/unrar/
!/resources/tmp/unzip/
!/resources/tmp/imdb_cache/
!/public/assets/*
