{
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": [
        "./node_modules/prettier-plugin-blade",
        "./node_modules/prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        }
    ]
}
