version: '3.8'

services:
  redis:
    image: redis:5
    restart: unless-stopped
    volumes:
      - $PWD/docker/redis-data;/data
      - $PWD/docker/redis.conf:/usr/local/etc/redis/redis.conf

  manticore:
    image: manticoresearch/manticore:3
    restart: unless-stopped
    volumes:
      - $PWD/docker/manticore-data;/var/lib/manticore/data
      - $PWD/docker/sphinx.conf:/etc/sphinxsearch/sphinx.conf

  mariadb:
    image: mariadb:10
    restart: unless-stopped
    volumes:
      - $PWD/docker/my.cnf:/etc/mysql/conf.d/newsnab-tmux.cnf
      - $PWD/docker/mariadb-data:/var/lib/mysql
      - $PWD:/var/www/NNTmux/
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOTPASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: ${APP_TZ}

  web:
    environment:
      VIRTUAL_HOST: nntmux.local
    depends_on:
      - mariadb
      - redis
      - manticore

  tmux:
    depends_on:
      - mariadb
      - redis
      - manticore
