<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuite name="Installation Test">
        <directory suffix="Test.php">./tests/Install</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Blacklight</directory>
        </whitelist>
        <exclude>
            <directory suffix=".php">./Blacklight/config</directory>
            <file>./Blacklight/config/settings.example.php></file>
        </exclude>
    </filter>
    <logging>
        <log type="coverage-clover" target="/build/logs/coverage_clover.xml"/>
    </logging>
</phpunit>
