[mysqld]
# max_allowed_packet = 16M default value
# group_concat_max_len = 8192 default value higher
max_connections = 200 # default 151
# innodb_file_format = BARRACUDA unused and default value
# innodb_large_prefix = 1 default value
# innodb_file_per_table = 1 default value
innodb_buffer_pool_size = 512M # default value 128M
