@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss" source(none);
@source "../views";
@source "../js";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    .forum {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    h1 {
        @apply text-4xl my-6 text-gray-900 dark:text-gray-100;
    }

    h2 {
        @apply text-2xl text-gray-900 dark:text-gray-100;
    }

    h3 {
        @apply text-xl text-gray-900 dark:text-gray-100;
    }

    a {
        @apply text-blue-500 dark:text-blue-400;
    }

    a:hover {
        @apply text-blue-800 dark:text-blue-300;
    }
}

@layer utilities {
    /* Custom scrollbar for dark mode */
    .dark ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .dark ::-webkit-scrollbar-track {
        background-color: rgb(31 41 55); /* gray-800 */
    }

    .dark ::-webkit-scrollbar-thumb {
        background-color: rgb(75 85 99); /* gray-600 */
        border-radius: 0.25rem;
    }

    .dark ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(107 114 128); /* gray-500 */
    }
}
