[defaults]
roles_path = ./roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
[ssh_connection]
pipelining = True

[inventory_plugin_yaml]
yaml_valid_extensions = .yaml, .yml, .json, .example
