name: Run tests

on: [push]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, bcmath, soap, intl, gd, exif, iconv
          coverage: none

      - name: Copy env file
        run:
          cp .env.test .env

      - name: Run composer install
        run: composer install -n --prefer-dist

      - name: Prepare Laravel Application
        run:
          php artisan key:generate

      - name: Run tests
        run: php artisan test
