name: Run tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.3, 8.4 ]

    name: PHP ${{ matrix.php }}
    services:
      mysql:
        image: mariadb:11
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: TEST
          MYSQL_USER: TEST
          MYSQL_PASSWORD: TEST
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none

      - name: Copy env file
        run:
          cp .env.test .env

      - name: Run composer install
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Generate app key
        run: php artisan key:generate

      - name: Run tests
        run: vendor/bin/phpunit
